In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import warnings

#這一行表示不希望看到警告訊息
warnings.filterwarnings(action='ignore')

# 資料整理

In [2]:
data=pd.read_csv("kidney_disease.csv")

In [3]:
print("資料筆數:",len(data))
print("欄位數量",len(data.columns))

資料筆數: 400
欄位數量 26

In [4]:
data.head(10)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
5,5,60.0,90.0,1.015,3.0,0.0,NaN,NaN,notpresent,notpresent,...,39,7800,4.4,yes,yes,no,good,yes,no,ckd
6,6,68.0,70.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,36,NaN,NaN,no,no,no,good,no,no,ckd
7,7,24.0,NaN,1.015,2.0,4.0,normal,abnormal,notpresent,notpresent,...,44,6900,5,no,yes,no,good,yes,no,ckd
8,8,52.0,100.0,1.015,3.0,0.0,normal,abnormal,present,notpresent,...,33,9600,4.0,yes,yes,no,good,no,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [6]:
#不看欄位id

for i in enumerate(data.drop("id",axis=1).columns):
    print('順序:{}, 每個欄位的獨立值 in "{}":\n'.format(i[0]+1,i[1]),data[i[1]].unique())

順序:1, 每個欄位的獨立值 in "age":
 [48.  7. 62. 51. 60. 68. 24. 52. 53. 50. 63. 40. 47. 61. 21. 42. 75. 69.
 nan 73. 70. 65. 76. 72. 82. 46. 45. 35. 54. 11. 59. 67. 15. 55. 44. 26.
 64. 56.  5. 74. 38. 58. 71. 34. 17. 12. 43. 41. 57.  8. 39. 66. 81. 14.
 27. 83. 30.  4.  3.  6. 32. 80. 49. 90. 78. 19.  2. 33. 36. 37. 23. 25.
 20. 29. 28. 22. 79.]
順序:2, 每個欄位的獨立值 in "bp":
 [ 80.  50.  70.  90.  nan 100.  60. 110. 140. 180. 120.]
順序:3, 每個欄位的獨立值 in "sg":
 [1.02  1.01  1.005 1.015   nan 1.025]
順序:4, 每個欄位的獨立值 in "al":
 [ 1.  4.  2.  3.  0. nan  5.]
順序:5, 每個欄位的獨立值 in "su":
 [ 0.  3.  4.  1. nan  2.  5.]
順序:6, 每個欄位的獨立值 in "rbc":
 [nan 'normal' 'abnormal']
順序:7, 每個欄位的獨立值 in "pc":
 ['normal' 'abnormal' nan]
順序:8, 每個欄位的獨立值 in "pcc":
 ['notpresent' 'present' nan]
順序:9, 每個欄位的獨立值 in "ba":
 ['notpresent' 'present' nan]
順序:10, 每個欄位的獨立值 in "bgr":
 [121.  nan 423. 117. 106.  74. 100. 410. 138.  70. 490. 380. 208.  98.
 157.  76.  99. 114. 263. 173.  95. 108. 156. 264. 123.  93. 107. 159.
 140. 171. 270.  92. 137. 204.  79. 207. 124. 144.  91. 162. 246. 253.
 141. 182.  86. 150. 146. 425. 112. 250. 360. 163. 129. 133. 102. 158.
 165. 132. 104. 127. 415. 169. 251. 109. 280. 210. 219. 295.  94. 172.
 101. 298. 153.  88. 226. 143. 115.  89. 297. 233. 294. 323. 125.  90.
 308. 118. 224. 128. 122. 214. 213. 268. 256.  84. 105. 288. 139.  78.
 273. 242. 424. 303. 148. 160. 192. 307. 220. 447. 309.  22. 111. 261.
 215. 234. 131. 352.  80. 239. 110. 130. 184. 252. 113. 230. 341. 255.
 103. 238. 248. 120. 241. 269. 201. 203. 463. 176.  82. 119.  97.  96.
  81. 116. 134.  85.  83.  87.  75.]
順序:11, 每個欄位的獨立值 in "bu":
 [ 36.   18.   53.   56.   26.   25.   54.   31.   60.  107.   55.   72.
  86.   90.  162.   46.   87.   27.  148.  180.  163.    nan  50.   75.
  45.   28.  155.   33.   39.  153.   29.   65.  103.   70.   80.   20.
 202.   77.   89.   24.   17.   32.  114.   66.   38.  164.  142.   96.
 391.   15.  111.   73.   19.   92.   35.   16.  139.   48.   85.   98.
 186.   37.   47.   52.   82.   51.  106.   22.  217.   88.  118.   50.1
  71.   34.   40.   21.  219.   30.  125.  166.   49.  208.  176.   68.
 145.  165.  322.   23.  235.  132.   76.   42.   44.   41.  113.    1.5
 146.   58.  133.  137.   67.  115.  223.   98.6 158.   94.   74.  150.
  61.   57.   95.  191.   93.  241.   64.   79.  215.  309.   10. ]
順序:12, 每個欄位的獨立值 in "sc":
 [ 1.2   0.8   1.8   3.8   1.4   1.1  24.    1.9   7.2   4.    2.7   2.1
  4.6   4.1   9.6   2.2   5.2   1.3   1.6   3.9  76.    7.7    nan  2.4
  7.3   1.5   2.5   2.    3.4   0.7   1.   10.8   6.3   5.9   0.9   3.
  3.25  9.7   6.4   3.2  32.    0.6   6.1   3.3   6.7   8.5   2.8  15.
  2.9   1.7   3.6   5.6   6.5   4.4  10.2  11.5   0.5  12.2   5.3   9.2
 13.8  16.9   6.    7.1  18.    2.3  13.   48.1  14.2  16.4   2.6   7.5
  4.3  18.1  11.8   9.3   6.8  13.5  12.8  11.9  12.   13.4  15.2  13.3
  0.4 ]
順序:13, 每個欄位的獨立值 in "sod":
 [  nan 111.  142.  104.  114.  131.  138.  135.  130.  141.  139.    4.5
 136.  129.  140.  132.  133.  134.  125.  163.  137.  128.  143.  127.
 146.  126.  122.  147.  124.  115.  145.  113.  120.  150.  144. ]
順序:14, 每個欄位的獨立值 in "pot":
 [ nan  2.5  3.2  4.   3.7  4.2  5.8  3.4  6.4  4.9  4.1  4.3  5.2  3.8
  4.6  3.9  4.7  5.9  4.8  4.4  6.6 39.   5.5  5.   3.5  3.6  7.6  2.9
  4.5  5.7  5.4  5.3 47.   6.3  5.1  5.6  3.   2.8  2.7  6.5  3.3]
順序:15, 每個欄位的獨立值 in "hemo":
 [15.4 11.3  9.6 11.2 11.6 12.2 12.4 10.8  9.5  9.4  9.7  9.8  5.6  7.6
 12.6 12.1 12.7 10.3  7.7 10.9  nan 11.1  9.9 12.5 12.9 10.1 12.  13.
  7.9  9.3 15.  10.   8.6 13.6 10.2 10.5  6.6 11.   7.5 15.6 15.2  4.8
  9.1  8.1 11.9 13.5  8.3  7.1 16.1 10.4  9.2  6.2 13.9 14.1  6.  11.8
 11.7 11.4 14.   8.2 13.2  6.1  8.  12.3  8.4 14.3  9.   8.7 10.6 13.1
 10.7  5.5  5.8  6.8  8.8  8.5 13.8 11.5  7.3 13.7 12.8 13.4  6.3  3.1
 17.  15.9 14.5 15.5 16.2 14.4 14.2 16.3 14.8 16.5 15.7 13.3 14.6 16.4
 16.9 16.  14.7 16.6 14.9 16.7 16.8 15.8 15.1 17.1 17.2 15.3 17.3 17.4
 17.7 17.8 17.5 17.6]
順序:16, 每個欄位的獨立值 in "pcv":
 ['44' '38' '31' '32' '35' '39' '36' '33' '29' '28' nan '16' '24' '37' '30'
 '34' '40' '45' '27' '48' '\t?' '52' '14' '22' '18' '42' '17' '46' '23'
 '19' '25' '41' '26' '15' '21' '43' '20' '\t43' '47' '9' '49' '50' '53'
 '51' '54']
順序:17, 每個欄位的獨立值 in "wc":
 ['7800' '6000' '7500' '6700' '7300' nan '6900' '9600' '12100' '4500'
 '12200' '11000' '3800' '11400' '5300' '9200' '6200' '8300' '8400' '10300'
 '9800' '9100' '7900' '6400' '8600' '18900' '21600' '4300' '8500' '11300'
 '7200' '7700' '14600' '6300' '\t6200' '7100' '11800' '9400' '5500' '5800'
 '13200' '12500' '5600' '7000' '11900' '10400' '10700' '12700' '6800'
 '6500' '13600' '10200' '9000' '14900' '8200' '15200' '5000' '16300'
 '12400' '\t8400' '10500' '4200' '4700' '10900' '8100' '9500' '2200'
 '12800' '11200' '19100' '\t?' '12300' '16700' '2600' '26400' '8800'
 '7400' '4900' '8000' '12000' '15700' '4100' '5700' '11500' '5400' '10800'
 '9900' '5200' '5900' '9300' '9700' '5100' '6600']
順序:18, 每個欄位的獨立值 in "rc":
 ['5.2' nan '3.9' '4.6' '4.4' '5' '4.0' '3.7' '3.8' '3.4' '2.6' '2.8' '4.3'
 '3.2' '3.6' '4' '4.1' '4.9' '2.5' '4.2' '4.5' '3.1' '4.7' '3.5' '6.0'
 '5.0' '2.1' '5.6' '2.3' '2.9' '2.7' '8.0' '3.3' '3.0' '3' '2.4' '4.8'
 '\t?' '5.4' '6.1' '6.2' '6.3' '5.1' '5.8' '5.5' '5.3' '6.4' '5.7' '5.9'
 '6.5']
順序:19, 每個欄位的獨立值 in "htn":
 ['yes' 'no' nan]
順序:20, 每個欄位的獨立值 in "dm":
 ['yes' 'no' ' yes' '\tno' '\tyes' nan]
順序:21, 每個欄位的獨立值 in "cad":
 ['no' 'yes' '\tno' nan]
順序:22, 每個欄位的獨立值 in "appet":
 ['good' 'poor' nan]
順序:23, 每個欄位的獨立值 in "pe":
 ['no' 'yes' nan]
順序:24, 每個欄位的獨立值 in "ane":
 ['no' 'yes' nan]
順序:25, 每個欄位的獨立值 in "classification":
 ['ckd' 'ckd\t' 'notckd']

In [7]:
#檢視所有欄位的敘述型統計
data.describe(include='all')

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,248,335,396,396,...,330,295,270,398,398,398,399,399,399,400
unique,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,...,44,92,49,2,5,3,2,2,2,3
top,NaN,NaN,NaN,NaN,NaN,NaN,normal,normal,notpresent,notpresent,...,41,9800,5.2,no,no,no,good,no,no,ckd
freq,NaN,NaN,NaN,NaN,NaN,NaN,201,259,354,374,...,21,11,18,251,258,362,317,323,339,248
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#整理資料，把誤值的資料進行修正

for i in range(data.shape[0]):
    if data.iloc[i,25]=='ckd\t':
        data.iloc[i,25]='ckd'
    if data.iloc[i,20] in [' yes','\tyes']:
        data.iloc[i,20]='yes'
    if data.iloc[i,20]=='\tno':
        data.iloc[i,20]='no'
    if data.iloc[i,21]=='\tno':
        data.iloc[i,21]='no'
    if data.iloc[i,16]=='\t?':
        data.iloc[i,16]=np.nan
    if data.iloc[i,16]=='\t43':
        data.iloc[i,16]='43'
    if data.iloc[i,17]=='\t?':
        data.iloc[i,17]=np.nan
    if data.iloc[i,17]=='\t6200':
        data.iloc[i,17]= '6200'
    if data.iloc[i,17]=='\t8400':
        data.iloc[i,17]= '6200'
    if data.iloc[i,18]=='\t?':
        data.iloc[i,18]=np.nan
    if data.iloc[i,25]=='ckd':
        data.iloc[i,25]='yes'
    if data.iloc[i,25]=='notckd':
        data.iloc[i,25]='no'
        
        
        
data.to_csv("kidney_disease3.csv",index=False)
data=pd.read_csv("kidney_disease3.csv")

In [9]:
#刪除id欄位
data.drop('id',axis=1,inplace=True)
data.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,yes
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38.0,6000.0,NaN,no,no,no,good,no,no,yes
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,yes
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,yes
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,yes

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             391 non-null    float64
 1   bp              388 non-null    float64
 2   sg              353 non-null    float64
 3   al              354 non-null    float64
 4   su              351 non-null    float64
 5   rbc             248 non-null    object
 6   pc              335 non-null    object
 7   pcc             396 non-null    object
 8   ba              396 non-null    object
 9   bgr             356 non-null    float64
 10  bu              381 non-null    float64
 11  sc              383 non-null    float64
 12  sod             313 non-null    float64
 13  pot             312 non-null    float64
 14  hemo            348 non-null    float64
 15  pcv             329 non-null    float64
 16  wc              294 non-null    float64
 17  rc              269 non-null    float64
 18  htn             398 non-null    object
 19  dm              398 non-null    object
 20  cad             398 non-null    object
 21  appet           399 non-null    object
 22  pe              399 non-null    object
 23  ane             399 non-null    object
 24  classification  400 non-null    object
dtypes: float64(14), object(11)
memory usage: 78.2+ KB

In [11]:
#填上有意義的欄位名稱
feature_names=['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr',
       'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification']
data.columns=feature_names

In [12]:
data

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,yes
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38.0,6000.0,NaN,no,no,no,good,no,no,yes
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,yes
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,yes
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47.0,6700.0,4.9,no,no,no,good,no,no,no
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54.0,7800.0,6.2,no,no,no,good,no,no,no
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49.0,6600.0,5.4,no,no,no,good,no,no,no
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51.0,7200.0,5.9,no,no,no,good,no,no,no
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53.0,6800.0,6.1,no,no,no,good,no,no,no

In [13]:
def read_dataset(fname):
     
     # 指定索引
    data = pd.read_csv(fname, index_col=False) 
    labels = data['classification'].unique().tolist()
    data['classification'] = data['classification'].apply(lambda n: labels.index(n))
    data['rbc'] = [i for i in data['rbc'].replace(['normal','abnormal'],[1,2])] #1:normal 2:abnormal
    data['pc'] = [i for i in data['pc'].replace(['normal','abnormal'],[1,2])] #1:normal 2:abnormal
    data['pcc'] = [i for i in data['pcc'].replace(['notpresent','present'],[1,2])] #1:notpresent 2:present
    data['ba'] = [i for i in data['ba'].replace(['notpresent','present'],[1,2])] #1:notpresent 2:present
    data['bu'] = [float(i) for i in data['bu'].replace('?',0)]
    data['sc'] = [float(i) for i in data['sc'].replace('?',0)]
    
    data['htn'] = [i for i in data['htn'].replace(['yes','no'],[1,2])] #1:yes 2:no
    data['dm'] = [i for i in data['dm'].replace(['yes','no'],[1,2])] #1:yes 2:no
    data['cad'] = [i for i in data['cad'].replace(['yes','no'],[1,2])] #1:yes 2:no
    data['appet'] = [i for i in data['appet'].replace(['good','poor'],[1,2])] #1:good 2:poor
    data['pe'] = [i for i in data['pe'].replace(['yes','no'],[1,2])] #1:yes 2:no
    data['ane'] = [i for i in data['ane'].replace(['yes','no'],[1,2])] #1:yes 2:no
    
    # 處理遺缺值
    #data = data.fillna(0)
    return data
data = read_dataset('kidney_disease3.csv')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    float64
 7   pc              335 non-null    float64
 8   pcc             396 non-null    float64
 9   ba              396 non-null    float64
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             329 non-null    float64
 17  wc              294 non-null    float64
 18  rc              269 non-null    float64
 19  htn             398 non-null    float64
 20  dm              398 non-null    float64
 21  cad             398 non-null    float64
 22  appet           399 non-null    float64
 23  pe              399 non-null    float64
 24  ane             399 non-null    float64
 25  classification  400 non-null    int64
dtypes: float64(24), int64(2)
memory usage: 81.4 KB

In [15]:
#刪除id欄位
data.drop('id',axis=1,inplace=True)
data.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,0.0,0.0,0.0,121.0,...,44.0,7800.0,5.2,0.0,0.0,1.0,0.0,1.0,1.0,0
1,7.0,50.0,1.020,4.0,0.0,NaN,0.0,0.0,0.0,NaN,...,38.0,6000.0,NaN,1.0,1.0,1.0,0.0,1.0,1.0,0
2,62.0,80.0,1.010,2.0,3.0,0.0,0.0,0.0,0.0,423.0,...,31.0,7500.0,NaN,1.0,0.0,1.0,1.0,1.0,0.0,0
3,48.0,70.0,1.005,4.0,0.0,0.0,1.0,1.0,0.0,117.0,...,32.0,6700.0,3.9,0.0,1.0,1.0,1.0,0.0,0.0,0
4,51.0,80.0,1.010,2.0,0.0,0.0,0.0,0.0,0.0,106.0,...,35.0,7300.0,4.6,1.0,1.0,1.0,0.0,1.0,1.0,0

In [16]:
data.to_csv("kidney_disease2.csv",index=False)

In [17]:
data=pd.read_csv("kidney_disease2.csv")

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             391 non-null    float64
 1   bp              388 non-null    float64
 2   sg              353 non-null    float64
 3   al              354 non-null    float64
 4   su              351 non-null    float64
 5   rbc             248 non-null    float64
 6   pc              335 non-null    float64
 7   pcc             396 non-null    float64
 8   ba              396 non-null    float64
 9   bgr             356 non-null    float64
 10  bu              381 non-null    float64
 11  sc              383 non-null    float64
 12  sod             313 non-null    float64
 13  pot             312 non-null    float64
 14  hemo            348 non-null    float64
 15  pcv             329 non-null    float64
 16  wc              294 non-null    float64
 17  rc              269 non-null    float64
 18  htn             398 non-null    float64
 19  dm              398 non-null    float64
 20  cad             398 non-null    float64
 21  appet           399 non-null    float64
 22  pe              399 non-null    float64
 23  ane             399 non-null    float64
 24  classification  400 non-null    int64
dtypes: float64(24), int64(1)
memory usage: 78.2 KB

In [19]:
#不看欄位id
for i in enumerate(data.columns):
    print('順序:{}, 每個欄位的獨立值 in "{}":\n'.format(i[0]+1,i[1]),data[i[1]].unique())

順序:1, 每個欄位的獨立值 in "age":
 [48.  7. 62. 51. 60. 68. 24. 52. 53. 50. 63. 40. 47. 61. 21. 42. 75. 69.
 nan 73. 70. 65. 76. 72. 82. 46. 45. 35. 54. 11. 59. 67. 15. 55. 44. 26.
 64. 56.  5. 74. 38. 58. 71. 34. 17. 12. 43. 41. 57.  8. 39. 66. 81. 14.
 27. 83. 30.  4.  3.  6. 32. 80. 49. 90. 78. 19.  2. 33. 36. 37. 23. 25.
 20. 29. 28. 22. 79.]
順序:2, 每個欄位的獨立值 in "bp":
 [ 80.  50.  70.  90.  nan 100.  60. 110. 140. 180. 120.]
順序:3, 每個欄位的獨立值 in "sg":
 [1.02  1.01  1.005 1.015   nan 1.025]
順序:4, 每個欄位的獨立值 in "al":
 [ 1.  4.  2.  3.  0. nan  5.]
順序:5, 每個欄位的獨立值 in "su":
 [ 0.  3.  4.  1. nan  2.  5.]
順序:6, 每個欄位的獨立值 in "rbc":
 [nan  0.  1.]
順序:7, 每個欄位的獨立值 in "pc":
 [ 0.  1. nan]
順序:8, 每個欄位的獨立值 in "pcc":
 [ 0.  1. nan]
順序:9, 每個欄位的獨立值 in "ba":
 [ 0.  1. nan]
順序:10, 每個欄位的獨立值 in "bgr":
 [121.  nan 423. 117. 106.  74. 100. 410. 138.  70. 490. 380. 208.  98.
 157.  76.  99. 114. 263. 173.  95. 108. 156. 264. 123.  93. 107. 159.
 140. 171. 270.  92. 137. 204.  79. 207. 124. 144.  91. 162. 246. 253.
 141. 182.  86. 150. 146. 425. 112. 250. 360. 163. 129. 133. 102. 158.
 165. 132. 104. 127. 415. 169. 251. 109. 280. 210. 219. 295.  94. 172.
 101. 298. 153.  88. 226. 143. 115.  89. 297. 233. 294. 323. 125.  90.
 308. 118. 224. 128. 122. 214. 213. 268. 256.  84. 105. 288. 139.  78.
 273. 242. 424. 303. 148. 160. 192. 307. 220. 447. 309.  22. 111. 261.
 215. 234. 131. 352.  80. 239. 110. 130. 184. 252. 113. 230. 341. 255.
 103. 238. 248. 120. 241. 269. 201. 203. 463. 176.  82. 119.  97.  96.
  81. 116. 134.  85.  83.  87.  75.]
順序:11, 每個欄位的獨立值 in "bu":
 [ 36.   18.   53.   56.   26.   25.   54.   31.   60.  107.   55.   72.
  86.   90.  162.   46.   87.   27.  148.  180.  163.    nan  50.   75.
  45.   28.  155.   33.   39.  153.   29.   65.  103.   70.   80.   20.
 202.   77.   89.   24.   17.   32.  114.   66.   38.  164.  142.   96.
 391.   15.  111.   73.   19.   92.   35.   16.  139.   48.   85.   98.
 186.   37.   47.   52.   82.   51.  106.   22.  217.   88.  118.   50.1
  71.   34.   40.   21.  219.   30.  125.  166.   49.  208.  176.   68.
 145.  165.  322.   23.  235.  132.   76.   42.   44.   41.  113.    1.5
 146.   58.  133.  137.   67.  115.  223.   98.6 158.   94.   74.  150.
  61.   57.   95.  191.   93.  241.   64.   79.  215.  309.   10. ]
順序:12, 每個欄位的獨立值 in "sc":
 [ 1.2   0.8   1.8   3.8   1.4   1.1  24.    1.9   7.2   4.    2.7   2.1
  4.6   4.1   9.6   2.2   5.2   1.3   1.6   3.9  76.    7.7    nan  2.4
  7.3   1.5   2.5   2.    3.4   0.7   1.   10.8   6.3   5.9   0.9   3.
  3.25  9.7   6.4   3.2  32.    0.6   6.1   3.3   6.7   8.5   2.8  15.
  2.9   1.7   3.6   5.6   6.5   4.4  10.2  11.5   0.5  12.2   5.3   9.2
 13.8  16.9   6.    7.1  18.    2.3  13.   48.1  14.2  16.4   2.6   7.5
  4.3  18.1  11.8   9.3   6.8  13.5  12.8  11.9  12.   13.4  15.2  13.3
  0.4 ]
順序:13, 每個欄位的獨立值 in "sod":
 [  nan 111.  142.  104.  114.  131.  138.  135.  130.  141.  139.    4.5
 136.  129.  140.  132.  133.  134.  125.  163.  137.  128.  143.  127.
 146.  126.  122.  147.  124.  115.  145.  113.  120.  150.  144. ]
順序:14, 每個欄位的獨立值 in "pot":
 [ nan  2.5  3.2  4.   3.7  4.2  5.8  3.4  6.4  4.9  4.1  4.3  5.2  3.8
  4.6  3.9  4.7  5.9  4.8  4.4  6.6 39.   5.5  5.   3.5  3.6  7.6  2.9
  4.5  5.7  5.4  5.3 47.   6.3  5.1  5.6  3.   2.8  2.7  6.5  3.3]
順序:15, 每個欄位的獨立值 in "hemo":
 [15.4 11.3  9.6 11.2 11.6 12.2 12.4 10.8  9.5  9.4  9.7  9.8  5.6  7.6
 12.6 12.1 12.7 10.3  7.7 10.9  nan 11.1  9.9 12.5 12.9 10.1 12.  13.
  7.9  9.3 15.  10.   8.6 13.6 10.2 10.5  6.6 11.   7.5 15.6 15.2  4.8
  9.1  8.1 11.9 13.5  8.3  7.1 16.1 10.4  9.2  6.2 13.9 14.1  6.  11.8
 11.7 11.4 14.   8.2 13.2  6.1  8.  12.3  8.4 14.3  9.   8.7 10.6 13.1
 10.7  5.5  5.8  6.8  8.8  8.5 13.8 11.5  7.3 13.7 12.8 13.4  6.3  3.1
 17.  15.9 14.5 15.5 16.2 14.4 14.2 16.3 14.8 16.5 15.7 13.3 14.6 16.4
 16.9 16.  14.7 16.6 14.9 16.7 16.8 15.8 15.1 17.1 17.2 15.3 17.3 17.4
 17.7 17.8 17.5 17.6]
順序:16, 每個欄位的獨立值 in "pcv":
 [44. 38. 31. 32. 35. 39. 36. 33. 29. 28. nan 16. 24. 37. 30. 34. 40. 45.
 27. 48. 52. 14. 22. 18. 42. 17. 46. 23. 19. 25. 41. 26. 15. 21. 43. 20.
 47.  9. 49. 50. 53. 51. 54.]
順序:17, 每個欄位的獨立值 in "wc":
 [ 7800.  6000.  7500.  6700.  7300.    nan  6900.  9600. 12100.  4500.
 12200. 11000.  3800. 11400.  5300.  9200.  6200.  8300.  8400. 10300.
  9800.  9100.  7900.  6400.  8600. 18900. 21600.  4300.  8500. 11300.
  7200.  7700. 14600.  6300.  7100. 11800.  9400.  5500.  5800. 13200.
 12500.  5600.  7000. 11900. 10400. 10700. 12700.  6800.  6500. 13600.
 10200.  9000. 14900.  8200. 15200.  5000. 16300. 12400. 10500.  4200.
  4700. 10900.  8100.  9500.  2200. 12800. 11200. 19100. 12300. 16700.
  2600. 26400.  8800.  7400.  4900.  8000. 12000. 15700.  4100.  5700.
 11500.  5400. 10800.  9900.  5200.  5900.  9300.  9700.  5100.  6600.]
順序:18, 每個欄位的獨立值 in "rc":
 [5.2 nan 3.9 4.6 4.4 5.  4.  3.7 3.8 3.4 2.6 2.8 4.3 3.2 3.6 4.1 4.9 2.5
 4.2 4.5 3.1 4.7 3.5 6.  2.1 5.6 2.3 2.9 2.7 8.  3.3 3.  2.4 4.8 5.4 6.1
 6.2 6.3 5.1 5.8 5.5 5.3 6.4 5.7 5.9 6.5]
順序:19, 每個欄位的獨立值 in "htn":
 [ 0.  1. nan]
順序:20, 每個欄位的獨立值 in "dm":
 [ 0.  1. nan]
順序:21, 每個欄位的獨立值 in "cad":
 [ 1.  0. nan]
順序:22, 每個欄位的獨立值 in "appet":
 [ 0.  1. nan]
順序:23, 每個欄位的獨立值 in "pe":
 [ 1.  0. nan]
順序:24, 每個欄位的獨立值 in "ane":
 [ 1.  0. nan]
順序:25, 每個欄位的獨立值 in "classification":
 [0 1]

In [20]:
#有些欄位應該是數值，卻是object，因為有空值(nan)造成，以下三個欄位是肉眼觀察到的
mistyped=['rbc','pcv','wc','rc']
numeric=[]

for i in data.columns:
    if data[i].dtype=='float64':
        numeric.append(i)

#將float64的欄位與肉眼觀察到的欄位合起來，都應該是numberic才對
numeric=numeric+mistyped

In [21]:
#看看數值型欄位
numeric

['age',
 'bp',
 'sg',
 'al',
 'su',
 'rbc',
 'pc',
 'pcc',
 'ba',
 'bgr',
 'bu',
 'sc',
 'sod',
 'pot',
 'hemo',
 'pcv',
 'wc',
 'rc',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'rbc',
 'pcv',
 'wc',
 'rc']

In [22]:
#轉換為float
for col in mistyped:
        data[col]=data[col].astype('float')

In [23]:
#接下來處理類別欄位，且排除掉我們的數值型欄位
categoricals=['dm','cad']

for col in data.columns:
    if not col in numeric:
        categoricals.append(col)

#排除掉最後一個應變數
categoricals.remove('classification')

In [24]:
#看看類別欄位
categoricals

['dm', 'cad']

In [25]:
#類別型欄位塞眾數
for col in categoricals:
    data[col]=data[col].fillna(data[col].mode()[0])
#數值型欄位塞中位數
for col in numeric:
    data[col]=data[col].fillna(data[col].mean())
#再次檢查欄位遺缺值狀態
data.isnull().any()

age               False
bp                False
sg                False
al                False
su                False
rbc               False
pc                False
pcc               False
ba                False
bgr               False
bu                False
sc                False
sod               False
pot               False
hemo              False
pcv               False
wc                False
rc                False
htn               False
dm                False
cad               False
appet             False
pe                False
ane               False
classification    False
dtype: bool

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             400 non-null    float64
 1   bp              400 non-null    float64
 2   sg              400 non-null    float64
 3   al              400 non-null    float64
 4   su              400 non-null    float64
 5   rbc             400 non-null    float64
 6   pc              400 non-null    float64
 7   pcc             400 non-null    float64
 8   ba              400 non-null    float64
 9   bgr             400 non-null    float64
 10  bu              400 non-null    float64
 11  sc              400 non-null    float64
 12  sod             400 non-null    float64
 13  pot             400 non-null    float64
 14  hemo            400 non-null    float64
 15  pcv             400 non-null    float64
 16  wc              400 non-null    float64
 17  rc              400 non-null    float64
 18  htn             400 non-null    float64
 19  dm              400 non-null    float64
 20  cad             400 non-null    float64
 21  appet           400 non-null    float64
 22  pe              400 non-null    float64
 23  ane             400 non-null    float64
 24  classification  400 non-null    int64
dtypes: float64(24), int64(1)
memory usage: 78.2 KB

In [27]:
data

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,0.189516,0.0,0.0,0.0,121.000000,...,44.0,7800.0,5.200000,0.0,0.0,1.0,0.0,1.0,1.0,0
1,7.0,50.0,1.020,4.0,0.0,0.189516,0.0,0.0,0.0,148.036517,...,38.0,6000.0,4.707435,1.0,1.0,1.0,0.0,1.0,1.0,0
2,62.0,80.0,1.010,2.0,3.0,0.000000,0.0,0.0,0.0,423.000000,...,31.0,7500.0,4.707435,1.0,0.0,1.0,1.0,1.0,0.0,0
3,48.0,70.0,1.005,4.0,0.0,0.000000,1.0,1.0,0.0,117.000000,...,32.0,6700.0,3.900000,0.0,1.0,1.0,1.0,0.0,0.0,0
4,51.0,80.0,1.010,2.0,0.0,0.000000,0.0,0.0,0.0,106.000000,...,35.0,7300.0,4.600000,1.0,1.0,1.0,0.0,1.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,0.000000,0.0,0.0,0.0,140.000000,...,47.0,6700.0,4.900000,1.0,1.0,1.0,0.0,1.0,1.0,1
396,42.0,70.0,1.025,0.0,0.0,0.000000,0.0,0.0,0.0,75.000000,...,54.0,7800.0,6.200000,1.0,1.0,1.0,0.0,1.0,1.0,1
397,12.0,80.0,1.020,0.0,0.0,0.000000,0.0,0.0,0.0,100.000000,...,49.0,6600.0,5.400000,1.0,1.0,1.0,0.0,1.0,1.0,1
398,17.0,60.0,1.025,0.0,0.0,0.000000,0.0,0.0,0.0,114.000000,...,51.0,7200.0,5.900000,1.0,1.0,1.0,0.0,1.0,1.0,1
399,58.0,80.0,1.025,0.0,0.0,0.000000,0.0,0.0,0.0,131.000000,...,53.0,6800.0,6.100000,1.0,1.0,1.0,0.0,1.0,1.0,1

In [28]:
data['age'] = data['age'].astype('int64')
data['bp'] = data['bp'].astype('int64')
data['al'] = data['al'].astype('int64')
data['su'] = data['su'].astype('int64')
data['bgr'] = data['bgr'].astype('int64')
data['sod'] = data['sod'].astype('int64')
data['pcv'] = data['pcv'].astype('int64')
data['wc'] = data['wc'].astype('int64')
data['htn'] = data['htn'].astype('int64')
data['dm']=data['dm'].astype('int64')
data['cad']=data['cad'].astype('int64')
data['classification'] = data['classification'] = data['appet'].astype('int64')
data['pe'] = data['pe'].astype('int64')
data['ane'] = data['ane'].astype('int64')
data['pc'] = data['pc'].astype('int64')
data['pcc'] = data['pcc'].astype('int64')
data['ba'] = data['ba'].astype('int64')
data['appet'] = data['appet'].astype('int64')

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             400 non-null    int64
 1   bp              400 non-null    int64
 2   sg              400 non-null    float64
 3   al              400 non-null    int64
 4   su              400 non-null    int64
 5   rbc             400 non-null    float64
 6   pc              400 non-null    int64
 7   pcc             400 non-null    int64
 8   ba              400 non-null    int64
 9   bgr             400 non-null    int64
 10  bu              400 non-null    float64
 11  sc              400 non-null    float64
 12  sod             400 non-null    int64
 13  pot             400 non-null    float64
 14  hemo            400 non-null    float64
 15  pcv             400 non-null    int64
 16  wc              400 non-null    int64
 17  rc              400 non-null    float64
 18  htn             400 non-null    int64
 19  dm              400 non-null    int64
 20  cad             400 non-null    int64
 21  appet           400 non-null    int64
 22  pe              400 non-null    int64
 23  ane             400 non-null    int64
 24  classification  400 non-null    int64
dtypes: float64(7), int64(18)
memory usage: 78.2 KB

In [30]:
data

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48,80,1.020,1,0,0.189516,0,0,0,121,...,44,7800,5.200000,0,0,1,0,1,1,0
1,7,50,1.020,4,0,0.189516,0,0,0,148,...,38,6000,4.707435,1,1,1,0,1,1,0
2,62,80,1.010,2,3,0.000000,0,0,0,423,...,31,7500,4.707435,1,0,1,1,1,0,1
3,48,70,1.005,4,0,0.000000,1,1,0,117,...,32,6700,3.900000,0,1,1,1,0,0,1
4,51,80,1.010,2,0,0.000000,0,0,0,106,...,35,7300,4.600000,1,1,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55,80,1.020,0,0,0.000000,0,0,0,140,...,47,6700,4.900000,1,1,1,0,1,1,0
396,42,70,1.025,0,0,0.000000,0,0,0,75,...,54,7800,6.200000,1,1,1,0,1,1,0
397,12,80,1.020,0,0,0.000000,0,0,0,100,...,49,6600,5.400000,1,1,1,0,1,1,0
398,17,60,1.025,0,0,0.000000,0,0,0,114,...,51,7200,5.900000,1,1,1,0,1,1,0
399,58,80,1.025,0,0,0.000000,0,0,0,131,...,53,6800,6.100000,1,1,1,0,1,1,0

In [31]:
data.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48,80,1.020,1,0,0.189516,0,0,0,121,...,44,7800,5.200000,0,0,1,0,1,1,0
1,7,50,1.020,4,0,0.189516,0,0,0,148,...,38,6000,4.707435,1,1,1,0,1,1,0
2,62,80,1.010,2,3,0.000000,0,0,0,423,...,31,7500,4.707435,1,0,1,1,1,0,1
3,48,70,1.005,4,0,0.000000,1,1,0,117,...,32,6700,3.900000,0,1,1,1,0,0,1
4,51,80,1.010,2,0,0.000000,0,0,0,106,...,35,7300,4.600000,1,1,1,0,1,1,0

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             400 non-null    int64
 1   bp              400 non-null    int64
 2   sg              400 non-null    float64
 3   al              400 non-null    int64
 4   su              400 non-null    int64
 5   rbc             400 non-null    float64
 6   pc              400 non-null    int64
 7   pcc             400 non-null    int64
 8   ba              400 non-null    int64
 9   bgr             400 non-null    int64
 10  bu              400 non-null    float64
 11  sc              400 non-null    float64
 12  sod             400 non-null    int64
 13  pot             400 non-null    float64
 14  hemo            400 non-null    float64
 15  pcv             400 non-null    int64
 16  wc              400 non-null    int64
 17  rc              400 non-null    float64
 18  htn             400 non-null    int64
 19  dm              400 non-null    int64
 20  cad             400 non-null    int64
 21  appet           400 non-null    int64
 22  pe              400 non-null    int64
 23  ane             400 non-null    int64
 24  classification  400 non-null    int64
dtypes: float64(7), int64(18)
memory usage: 78.2 KB

In [33]:
data.drop(['appet'], axis=1, inplace=True)

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             400 non-null    int64
 1   bp              400 non-null    int64
 2   sg              400 non-null    float64
 3   al              400 non-null    int64
 4   su              400 non-null    int64
 5   rbc             400 non-null    float64
 6   pc              400 non-null    int64
 7   pcc             400 non-null    int64
 8   ba              400 non-null    int64
 9   bgr             400 non-null    int64
 10  bu              400 non-null    float64
 11  sc              400 non-null    float64
 12  sod             400 non-null    int64
 13  pot             400 non-null    float64
 14  hemo            400 non-null    float64
 15  pcv             400 non-null    int64
 16  wc              400 non-null    int64
 17  rc              400 non-null    float64
 18  htn             400 non-null    int64
 19  dm              400 non-null    int64
 20  cad             400 non-null    int64
 21  pe              400 non-null    int64
 22  ane             400 non-null    int64
 23  classification  400 non-null    int64
dtypes: float64(7), int64(17)
memory usage: 75.1 KB

In [35]:
from sklearn.model_selection import train_test_split

y = data['classification'].values
X =  data.drop(['classification'], axis=1).values

#切分訓練與驗證資料集
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 100, test_size = 0.2)

print('train dataset: {0}; test dataset: {1}'.format(
    X_train.shape, X_test.shape))

train dataset: (320, 23); test dataset: (80, 23)

In [36]:
#不看欄位id
for i in enumerate(data.columns):
    print('順序:{}, 每個欄位的獨立值 in "{}":\n'.format(i[0]+1,i[1]),data[i[1]].unique())

順序:1, 每個欄位的獨立值 in "age":
 [48  7 62 51 60 68 24 52 53 50 63 40 47 61 21 42 75 69 73 70 65 76 72 82
 46 45 35 54 11 59 67 15 55 44 26 64 56  5 74 38 58 71 34 17 12 43 41 57
  8 39 66 81 14 27 83 30  4  3  6 32 80 49 90 78 19  2 33 36 37 23 25 20
 29 28 22 79]
順序:2, 每個欄位的獨立值 in "bp":
 [ 80  50  70  90  76 100  60 110 140 180 120]
順序:3, 每個欄位的獨立值 in "sg":
 [1.02       1.01       1.005      1.015      1.01740793 1.025     ]
順序:4, 每個欄位的獨立值 in "al":
 [1 4 2 3 0 5]
順序:5, 每個欄位的獨立值 in "su":
 [0 3 4 1 2 5]
順序:6, 每個欄位的獨立值 in "rbc":
 [0.18951613 0.         1.        ]
順序:7, 每個欄位的獨立值 in "pc":
 [0 1]
順序:8, 每個欄位的獨立值 in "pcc":
 [0 1]
順序:9, 每個欄位的獨立值 in "ba":
 [0 1]
順序:10, 每個欄位的獨立值 in "bgr":
 [121 148 423 117 106  74 100 410 138  70 490 380 208  98 157  76  99 114
 263 173  95 108 156 264 123  93 107 159 140 171 270  92 137 204  79 207
 124 144  91 162 246 253 141 182  86 150 146 425 112 250 360 163 129 133
 102 158 165 132 104 127 415 169 251 109 280 210 219 295  94 172 101 298
 153  88 226 143 115  89 297 233 294 323 125  90 308 118 224 128 122 214
 213 268 256  84 105 288 139  78 273 242 424 303 160 192 307 220 447 309
  22 111 261 215 234 131 352  80 239 110 130 184 252 113 230 341 255 103
 238 248 120 241 269 201 203 463 176  82 119  97  96  81 116 134  85  83
  87  75]
順序:11, 每個欄位的獨立值 in "bu":
 [ 36.          18.          53.          56.          26.
  25.          54.          31.          60.         107.
  55.          72.          86.          90.         162.
  46.          87.          27.         148.         180.
 163.          57.42572178  50.          75.          45.
  28.         155.          33.          39.         153.
  29.          65.         103.          70.          80.
  20.         202.          77.          89.          24.
  17.          32.         114.          66.          38.
 164.         142.          96.         391.          15.
 111.          73.          19.          92.          35.
  16.         139.          48.          85.          98.
 186.          37.          47.          52.          82.
  51.         106.          22.         217.          88.
 118.          50.1         71.          34.          40.
  21.         219.          30.         125.         166.
  49.         208.         176.          68.         145.
 165.         322.          23.         235.         132.
  76.          42.          44.          41.         113.
   1.5        146.          58.         133.         137.
  67.         115.         223.          98.6        158.
  94.          74.         150.          61.          57.
  95.         191.          93.         241.          64.
  79.         215.         309.          10.        ]
順序:12, 每個欄位的獨立值 in "sc":
 [ 1.2         0.8         1.8         3.8         1.4         1.1
 24.          1.9         7.2         4.          2.7         2.1
  4.6         4.1         9.6         2.2         5.2         1.3
  1.6         3.9        76.          7.7         3.07245431  2.4
  7.3         1.5         2.5         2.          3.4         0.7
  1.         10.8         6.3         5.9         0.9         3.
  3.25        9.7         6.4         3.2        32.          0.6
  6.1         3.3         6.7         8.5         2.8        15.
  2.9         1.7         3.6         5.6         6.5         4.4
 10.2        11.5         0.5        12.2         5.3         9.2
 13.8        16.9         6.          7.1        18.          2.3
 13.         48.1        14.2        16.4         2.6         7.5
  4.3        18.1        11.8         9.3         6.8        13.5
 12.8        11.9        12.         13.4        15.2        13.3
  0.4       ]
順序:13, 每個欄位的獨立值 in "sod":
 [137 111 142 104 114 131 138 135 130 141 139   4 136 129 140 132 133 134
 125 163 128 143 127 146 126 122 147 124 115 145 113 120 150 144]
順序:14, 每個欄位的獨立值 in "pot":
 [ 4.62724359  2.5         3.2         4.          3.7         4.2
  5.8         3.4         6.4         4.9         4.1         4.3
  5.2         3.8         4.6         3.9         4.7         5.9
  4.8         4.4         6.6        39.          5.5         5.
  3.5         3.6         7.6         2.9         4.5         5.7
  5.4         5.3        47.          6.3         5.1         5.6
  3.          2.8         2.7         6.5         3.3       ]
順序:15, 每個欄位的獨立值 in "hemo":
 [15.4        11.3         9.6        11.2        11.6        12.2
 12.4        10.8         9.5         9.4         9.7         9.8
  5.6         7.6        12.6        12.1        12.7        10.3
  7.7        10.9        12.52643678 11.1         9.9        12.5
 12.9        10.1        12.         13.          7.9         9.3
 15.         10.          8.6        13.6        10.2        10.5
  6.6        11.          7.5        15.6        15.2         4.8
  9.1         8.1        11.9        13.5         8.3         7.1
 16.1        10.4         9.2         6.2        13.9        14.1
  6.         11.8        11.7        11.4        14.          8.2
 13.2         6.1         8.         12.3         8.4        14.3
  9.          8.7        10.6        13.1        10.7         5.5
  5.8         6.8         8.8         8.5        13.8        11.5
  7.3        13.7        12.8        13.4         6.3         3.1
 17.         15.9        14.5        15.5        16.2        14.4
 14.2        16.3        14.8        16.5        15.7        13.3
 14.6        16.4        16.9        16.         14.7        16.6
 14.9        16.7        16.8        15.8        15.1        17.1
 17.2        15.3        17.3        17.4        17.7        17.8
 17.5        17.6       ]
順序:16, 每個欄位的獨立值 in "pcv":
 [44 38 31 32 35 39 36 33 29 28 16 24 37 30 34 40 45 27 48 52 14 22 18 42
 17 46 23 19 25 41 26 15 21 43 20 47  9 49 50 53 51 54]
順序:17, 每個欄位的獨立值 in "wc":
 [ 7800  6000  7500  6700  7300  8398  6900  9600 12100  4500 12200 11000
  3800 11400  5300  9200  6200  8300  8400 10300  9800  9100  7900  6400
  8600 18900 21600  4300  8500 11300  7200  7700 14600  6300  7100 11800
  9400  5500  5800 13200 12500  5600  7000 11900 10400 10700 12700  6800
  6500 13600 10200  9000 14900  8200 15200  5000 16300 12400 10500  4200
  4700 10900  8100  9500  2200 12800 11200 19100 12300 16700  2600 26400
  8800  7400  4900  8000 12000 15700  4100  5700 11500  5400 10800  9900
  5200  5900  9300  9700  5100  6600]
順序:18, 每個欄位的獨立值 in "rc":
 [5.2        4.70743494 3.9        4.6        4.4        5.
 4.         3.7        3.8        3.4        2.6        2.8
 4.3        3.2        3.6        4.1        4.9        2.5
 4.2        4.5        3.1        4.7        3.5        6.
 2.1        5.6        2.3        2.9        2.7        8.
 3.3        3.         2.4        4.8        5.4        6.1
 6.2        6.3        5.1        5.8        5.5        5.3
 6.4        5.7        5.9        6.5       ]
順序:19, 每個欄位的獨立值 in "htn":
 [0 1]
順序:20, 每個欄位的獨立值 in "dm":
 [0 1]
順序:21, 每個欄位的獨立值 in "cad":
 [1 0]
順序:22, 每個欄位的獨立值 in "pe":
 [1 0]
順序:23, 每個欄位的獨立值 in "ane":
 [1 0]
順序:24, 每個欄位的獨立值 in "classification":
 [0 1]

In [37]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier(criterion='entropy',max_depth = 3) 
model.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [38]:
from sklearn.metrics import accuracy_score
#模型準確度
y_pred = model.predict(X_test)
print("Train data accuracy:",accuracy_score(y_true = y_train, y_pred=model.predict(X_train)))
print("Test data accuracy:",accuracy_score(y_true = y_test, y_pred=y_pred))
#測試不可能比訓練來得好

Train data accuracy: 0.83125
Test data accuracy: 0.8

In [39]:
#輸出成dot檔案格式
from sklearn import tree
tree.export_graphviz(model,out_file='tree_rule2023.dot', #dot格式 open 
                     feature_names=['age','bp','sg','al','su','rbc','pc','pcc','ba','bgr','bu','sc','sod','pot','hemo','pcv','wc','rc','htn','dm', 'cad','pe','ane'], #照順序
                     class_names=['1','2'],
                     filled=True,
                     node_ids=True,
                     rounded=True,
                     special_characters=True)